[Unit]
Description=Nginx&PHP-FPM in Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /opt/quicksrv/html:/var/www/html/ \
    -v /opt/quicksrv/conf:/etc/nginx/sites-enabled/ \
    -v /opt/quicksrv/log:/var/log/nginx/ \
    -p 81:80 \
    quicksrv:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target